<% @categories.each do |category| %>
<p><%= link_to category.title, category_path(category) %></p>

<% if current_user %>
  <% category.items.each do |item| %>
    <%= item.title %> | <%= "$#{item.price.to_f/100}" %>
 
      <% if logged_in? %>
        <input type='submit', value='Add To Cart' href=<%= "#{line_items_path}" %>>
      <% end %>
    <% end %>
  <% end %>
<% end %>
